{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>SynerD Registration</title>
<link href = "{% static 'synerd/join.css' %}" rel="stylesheet">
</head>


<body>

	<br><br><br><br><br>
	<center>
		<font face="arial black" size="4">
			SynerD User Regisration<br>
			<i>Let's Serve Purposefully</i></font><br>
			<a href="{% url 'index' %}">Return Home</a>
		<br>
		<hr size="4" color="black"/>
		<p><i>All fields required unless otherwise noted</i></p>
		<form class="show" id="form" name="theForm" action="#" method="POST">
			<fieldset>
				<section>
					<h3>Account Information</h3>
					<div class="formDiv">
						<label for="username">Username</label>
						<input id="usernameInput" name="username" type="text" maxlength="8" placeholder="8 characters max" required/>
					</div>
					<div class="formDiv">
						<label for="email">Email Address</label>
						<input id="emailInput" name="email" type="email" required/>
					</div>
				</section>
			</fieldset>
			<fieldset>
				<section>
					<h3>Personal Information</h3>
					<div class="formDiv">
						<label for="fname">First Name</label>
						<input id="fnameInput" name="firstName" type="text" required/>
					</div>
					<div class="formDiv">
						<label for="mname">Middle Name</label>
						<input id="mnameInput" name="middleName" type="text" placeholder="Optional"/>
					</div>
					<div class="formDiv">
						<label for="lname">Last Name</label>
						<input id="lnameInput" name="lastName" type="text" required/>
					</div>
					<div class="formDiv">
						<label for="dob">Date of Birth</label>
						<input id="dobInput" name="dob" type="date" required/>
					</div>
					<div class="formDiv">
						<label for="member">Member Organization</label>
						<input id="memberOrganizationInput" name="memberOrg" type="text" placeholder="Optional"/>
					</div>
				</section>
			</fieldset>
			<fieldset>
				<section>
					<h3>Contact Information</h3>
					<div class="formDiv">
						<label for="address">Street Address</label>
						<input id="addressInput" name="address" type="text" required/>
					</div>
					<div class="formDiv">
						<label for="address2">Apt/Unit#</label>
						<input id="address2Input" name="address2" type="text" placeholder="Optional"/>
					</div>
					<div class="formDiv">
						<label for="city">City</label>
						<input id="cityInput" name="city" type="text" required/>
					</div>
					<div class="formDiv">
						<label for="state">State</label>
						<input id="stateInput" name="state" type="text" required/>
					</div>
					<div class="formDiv">
						<label for="zipcode">ZIP Code</label>
						<input id="zipInput" name="zipcode" type="tel" maxlength="5" required/>
					</div>
					<div class="formDiv">
						<label for="homePhone">Home Phone</label>
						<input id="homePhoneInput" name="homePhone" type="tel" maxlength="11" placeholder="Optional"/>
					</div>
					<div class="formDiv">
						<label for="cellPhone">Cell Phone</label>
						<input id="cellPhoneInput" name="cellPhone" type="tel" maxlength="11" placeholder="Optional"/>
					</div>
				</section>
			</fieldset>
			<fieldset>
				<section>
					<input id="submitButton" name="submitButton" type="submit" value="Register Now" onclick="formSubmit()" />
				</section>
			</fieldset>
		</form>
		<br><br><br>
		<hr size="4" color="black"/>
	</center>
	<script type="module" src="{% static 'synerd/join_scripts.js' %}" defer></script>
</body>
</html>
